<div class="text-center border rounded p-3 shadow">
  <h1><%= @user.name %></h1>

  <%= image_tag user_avatar(@user) %>

  <% if @user == current_user %>
    <p class="buffer-top">
      <%= link_to "Редактировать профиль", edit_user_path(@user), class: 'btn btn-outline-secondary' %>
    </p>
  <% end %>

  <div class="row">
    <div class="col-md-12">

      <% if @user.events.any? %>
        <h3>Организовал:</h3>

        <% if @user_upcoming_events.size == 0  %>
          <p class="buffer-top mb-4">У пользователя пока нет предстоящих мероприятий</p>
        <% end %>

        <div class="row">
          <%= render partial: 'events/event', collection: @user.events.all.order(datetime: :asc) %>
        </div>

        <% if @user_past_events.size > 0 %>
          <h3>Прошедшие мероприятия:</h3>
          <div class="row">
            <%= render partial: 'events/past_events' %>
          </div>
        <% end %>
      <% else %>
        <p class="buffer-top">Пользователь пока не организовал ни одного события</p>
      <% end %>
    </div>
  </div>
</div>
