<div class="event">
  <div class="event-info row m-0 mb-1 rounded shadow">
    <div class="col-md-12 thumbnail">

      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{asset_pack_path('media/images/event.jpg')})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description p-2">
            <h1 class="text-info"><%= @event.title %></h1>
            <h5><%= l @event.datetime, format: :long %></h5>
            <h3><small><%= link_to @event.address,
                "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p class="m-0"><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="buffer-top mb-2">

              <%= link_to 'Изменить', edit_event_path(@event),
                class: 'btn btn-primary' %>

              <%= link_to 'Удалить', @event, method: :delete, data: {confirm: "Вы уверены?"}, class: 'btn btn-light ml-3 pl-3 pr-3' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mt-3 col-sm-12 col-md-12 col-lg-5">
      <div class="border rounded pl-3 pr-3 shadow">
        <div class="event-comments buffer-top">
          <div class="buffer-both">
            <div class="text-center">
              <button type="button" class="btn btn-primary mr-2 mt-1 mb-1" data-toggle="modal" data-target="#exampleModal2">
                Фотогалерея
              </button>

              <% if signed_in? %>
                <button type="button" class="btn btn-primary mt-1 mb-1" data-toggle="modal" data-target="#exampleModal1">
                  Добавить свое фото
                </button>
              <% end %>
            </div>

            <!-- Фотогалерея -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-body p-1">
                    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                      <div class="carousel-inner">

                        <div class="carousel-item active">
                          <%= image_tag(asset_pack_path('media/images/event.jpg'), class: 'img-fluid') %>
                        </div>

                        <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Добавить свое фото -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">

                <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border rounded p-3 shadow mt-3">
        <div class="event-owner text-center">

          <% unless current_user_can_edit?(@event) %>
            <h5>Организатор</h5>
            <p><%= render partial: 'users/user', object: @event.user %></p>
          <% end %>

        </div>
        <div class="event-subscriptions background-color">
          <div id="container">
            <div class="rounded text-center" id="something-else">
              <h5 class="m-0 pt-2">Пойдут:</h5>
            </div>
            <div class="p-2" id="overflow">

              <% if @event.subscriptions.count == 0 %>
                <div class="text-center">
                  Желающих пока нет
                  <br>
                  <%= image_tag asset_pack_path('media/images/panda.png'), class: 'img-icon-max' %>
                  <br>
                  <% if current_user_can_edit?(@event) %>
                    Не вешай нос, всё ещё впереди :)
                  <% else %>
                    Будь первым! :)
                  <% end %>
                </div>
              <% else %>
                <%= render partial: 'subscriptions/subscription',
                collection: @event.subscriptions.except(@new_subscription).order(created_at: :desc) %>
              <% end %>

            </div>
          </div>
        </div>
        <div class="event-subscription-form text-center mt-3">
          <div>
            <%= render partial: 'subscriptions/form', locals: {
              subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        </div>
      </div>
      <div class="event-comments buffer-top text-center">
        <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build} %>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-7">
      <div class="border rounded pl-3 pr-3 mt-3 shadow">
        <div class="event-comments buffer-top">
          <div class="buffer-both">

            <% if @event.comments.count == 0 %>
              <h4 class="text-center mb-3">Комментариев пока нет</h4>
            <% else %>
              <h4 class="text-center mb-3">Комментарии к событию</h4>
            <% end %>

            <%= render partial: 'comments/comment',
              collection: @event.comments.except(@new_comment).order(created_at: :desc) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
